* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

body, input, button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.main__block {
    position: relative;

    margin: 100px auto;
    width: 320px;
    height: 533px;
    border: 1px solid #000;
    padding: 0px 8px;

    .app_head {
        width: 302px;
        height: 48px;

        padding-top: 8px;

        display: flex;
        justify-content: space-between;

        .settings_button {
            width: 98px;
            height: 32px;

            border: 1px solid #000000;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
        }

        .exit_button {
            width: 66px;
            height: 32px;

            border: 1px solid #000000;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
        }
    }

    .message_screen {
        height: 437px;

        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: flex-end;

        border: 1px solid #000000;

        padding: 0px 8px 8px;

        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .message {
            display: inline-flex;

            padding: 8px 8px 28px;
            margin-top: 8px;

            position: relative;

            .time {
                position: absolute;
                bottom: 8px;
                right: 8px;

                font-style: italic;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: #333333;
            }
        }

        .send_message {
            background: #F7F7F7;
        }

        .deliver_message {
            background: #E5E5E5;
        }

        .my_message {
            display: flex;
            justify-content: flex-end;
        }


    }

    .message_form {
        padding: 8px 0px;
        display: flex;
        justify-content: space-between;

        .input_message {
            width: 267px;
            height: 32px;

            border: 1px solid #000000;

            padding: 7px;
        }

        .send_button {
            width: 29px;
            height: 32px;
            border: 1px solid #000000;
            background: #FFFFFF;
        }
    }
}

.settings_menu {
    position: absolute;
    top: 0%;
    left: 0%;

    background: #5353537e;
    width: 319px;
    height: 532px;

    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
        width: 273px;
        height: 319px;
        background: #FFFFFF;
        padding: 16px 14px 17px;

        display: flex;
        flex-direction: column;

        .menu_head {
            display: flex;
            justify-content: space-between;

            margin-bottom: 16px;
        }

        .menu_body {
            display: flex;
            flex-direction: column;

            .settings_form {
                display: flex;
                justify-content: space-between;

                margin-top: 8px;

                .nickname {
                    width: 207px;
                    height: 32px;

                    padding: 6px 8px;

                    border: 1px solid #000000;
                }

                .send_button {
                    width: 30px;
                    height: 32px;

                    background: #FFFFFF;
                    border: 1px solid #000000;
                }
            }


        }
    }
}

.autorisation_menu {
    position: absolute;
    top: 0%;
    left: 0%;

    background: #5353537e;
    width: 319px;
    height: 532px;

    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
        width: 273px;
        height: 319px;
        background: #FFFFFF;
        padding: 16px 14px 17px;

        display: flex;
        flex-direction: column;

        .menu_head {
            display: flex;
            justify-content: space-between;

            margin-bottom: 70px;
        }

        .menu_body {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .input_autorisation {
                width: 245px;
                height: 32px;

                border: 1px solid #000000;

                padding: 6px 8px;
                margin: 3px 0px 7px;
            }

            .button_submit_autorisation {
                width: 120px;
                height: 34px;

                background: #FFFFFF;
                border: 1px solid #000000;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.close_button {
    font-weight: 400;
    font-size: 24px;
    line-height: 70%;
    opacity: 0.45;
    transform: rotate(-45deg);
    background: #FFFFFF;
}

.hidden {
    display: none;
}